html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

body {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	grid-template-areas: "main";
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-area: main;
	height: 100vh;
	width: 100vw;
}

#map {
	grid-column: 1;
	grid-row: 1;
}

svg path.hexbin-hexagon {
	stroke: #000;
	stroke-width: 0px;
}

.noUi-value {
    color: #000000; /* Ensure contrast */
    font-size: 14px; /* Increase size */
}

.noUi-marker {
    background: #000000; /* Ensure contrast */
    height: 15px; /* Increase size */
}

@media (max-width: 850px) {
    body {
        grid-template-rows: 1fr auto;
        grid-template-areas: 
            "main"
            "timeSlider";
    }

    #timeSlider {
        grid-area: timeSlider;
    }
}